<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/skeleton.css">
    <title>Index<title>

<body>
    <div class="container">
        <h1>Budgtr</h1>

        <table>
            <% for (var i = 0; i < allBudget.length; i++) { %>
             <tr>
               <td><%= allBudget[i].date %></td>
               
               <td><a href="/budget<%=i%>"><%=allBudget[i].name %></a></td>
               <td><%= allBudget[i].amount %></td>
             </tr>    
            <% } %> 
         </table> 
    </div>
    <form action="/budget/new">
        <input type="submit" value="Create New Budget" />
    </form>
</body>
</html>