<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/skeleton.css">
    <title>New</title>
</head>
<body>
    <div class="container">
        
        <h1>Add New EXPENSE</h1>
        
        <form action="/budget" method="POST">
            
            <input type="text" placeholder="Enter date" name="date" /><br />
            
            <input type="text" placeholder="Enter your name" name="name" /><br />
            
            <input type="number" placeholder="Enter your amount" name="amount" /><br />
            
            <input type="text" placeholder="place of your purchase" name="from" /><br />
            
            <input type="text" placeholder="tags" name="tags" /><br />
            
            <button type="submit">ADD NEW EXPENSE</button>
        </form>

    </div>

</body>
</html>