<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/skeleton.css">
    <title>New</title>
</head>
<body>
    <form action="/budgets">
        <input type="submit" value="Back to Index" />
    </form>
  
  <body>
  
    <h1>New Budget</h1>
    
    <form action="/budget/" method="POST">
  
      Date: <input type="text" name="date" placeholder="Date" /><br />
      Name: <input type="text" name="name" placeholder="Name"/><br />
      From: <input type="text" name="name" placeholder="From"/><br />
      Amount: <input type="text" name="amount" placeholder="Amount"/><br />
      Tags: <input type="text" name="tags" placeholder="tags"/><br />
    <input type="submit" value="Create Budget">
  </form>
    </div>

</body>
</html>